
@import "variable/variables";
@import "mixin";



.border-style-demo{
    .about-04 .social-icon li a{
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
    .services-01 .services-box {
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
    .services-02 .services-box {
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
    .services-04 .services-box{
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
    .resume-01 .timeline-contents{
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
    .blog-01 .blog-item{
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
    .contact-02 .form-control{
        background-color: transparent;
        border: 1px solid $color-border-one;
    }
}
