@import "variable/variables";
@import "mixin";



.color-scheme{
    li {
        width: 40%;
        margin: 0 !important;
    }
    li a {
        display: block;
        padding: 8px 0;
        background-color: #f1f1f1;
        border-radius: 0.75rem;
        color: #010101;
        transition: all 0.5s ease;
        font-size: 14px;
    }
    li a.light-scheme:hover, li a.light-scheme.active{
        background-color: #0fcae8;
        color: #fff;
    }

}
.theme-skin-title{
    margin: 0;
    padding: 15px 0 0;
    border-radius: 16px 16px 0 0;
}
.theme-skin , .theme-direction-style {
    margin: 0;
    padding: 8px 0 16px;
    li {
        margin: 0 !important;
    }
    li:last-child {
        border-radius: $rounded-sm;
        padding: 1px;
    }
    li:last-child a:hover, li:last-child a.active {
        border: none;
    }
    li a {
        display: block;
        padding: 8px;
        border-radius: 0.75rem;
        color: #222;
        transition: all 0.5s ease;
        font-size: 14px;
        background-color: #ebebeb;
    }
    li a.flat-skin {
        margin-right: 3px;
    }
}

//return Up
.return-to-top {
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: -50px;
    padding: .5rem .75rem;
    border-radius: $rounded-sm;
    transition: all 0.5s ease;
    color: #fff !important;
}
.return-to-top.show{
    bottom: 30px;
  }


/////////Cursor

.cursor-effect {
    margin-left: -18px;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    border: 1px solid #424242;
    z-index: 10000000;
    transition: all .09s ease-out;
    &.cursor-hover {
        opacity: 0
    }
}
.cursor {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: #010101;
    transition: width .4s ease-in-out, height .4s ease-in-out, margin .4s ease-in-out, opacity .4s ease-in-out;
}
.cursor.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #010101;
    opacity: .5;
}
.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translateZ(0);
    visibility: hidden
}
